/* Apply a gradient background */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background: linear-gradient(to bottom right, #bbb7a7, #9b8e8e);
}

/* Style the form */
/*.form-container {*/
/*    position: absolute;*/
/*    top: 20px;*/
/*    right: 20px;*/
/*    background: rgba(255, 255, 255, 0.1);*/
/*    padding: 20px;*/
/*    border-radius: 5px;*/
/*}*/

/* Your existing styles */

.form-container {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.form-container h2 {
    margin-top: 0;
    font-size: 24px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
}

.form-container button {
    background: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Style the dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}
